button {
    &:hover,
    &:focus {
        opacity: 0.7;
    }
}

.toggle {
    width: 44px;
    height: 44px;
    border: none;
    background-color: transparent;
    @include centerFlex();
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    @include text(21px,24px,700);
    font-family: $secondary-font;
}

.nav-btn {
    padding: 16px 40px;
    background-color: $red;
    color: $white;
    &:hover {
        background-color: $white;
        color: $red;
    }
    @include breakpoints(tablet) {
        padding: 16px;
    }
    @include breakpoints(phone) {
        display: none;
    }
}

.section-btn {
    padding: 24px 40px;
    background-color: transparent;
    color: $red;
    border: 1px solid $red;
}