.header {
    padding: 16px 0;
    border-bottom: 1px solid $mercury;
    .wrapper {
        @include flex-between();
        position: relative;
        z-index: 3;
    }
}

.logo {
    display: inline-block;
}

.logo-src {
   @include src(32px);
}

.nav {
    @include breakpoints(phone) {
        display: none;
        position: absolute;
        z-index: 3;
        top: 142%;
        left: 0;
        width: 100%;
        background-color: $black;
    }
}

.nav-list {
    @include centerFlex();
    @include breakpoints(phone) {
        flex-direction: column;
    }
}

.nav-item {
    margin-right: 40px;
    @include breakpoints(tablet) {
        margin-right: 15px;
    }
    @include breakpoints(phone) {
        margin-right: 0;
    }
}

.nav-item--last {
    margin-right: 0;
}

.header__toggle {
    display: none;
    @include breakpoints(phone) {
        display: block;
    }
}